<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Secret</th>
      <th>Country</th>
      <th>Email</th>
      <th>Description</th>
      <th>Can send email</th>
      <th>Graduation year</th>
      <th>Body temperature</th>
      <th>Price</th>
      <th>Birthday</th>
      <th>Favorite time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.secret %></td>
        <td><%= person.country %></td>
        <td><%= person.email %></td>
        <td><%= person.description %></td>
        <td><%= person.can_send_email %></td>
        <td><%= person.graduation_year %></td>
        <td><%= person.body_temperature %></td>
        <td><%= person.price %></td>
        <td><%= person.birthday %></td>
        <td><%= person.favorite_time %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
