<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Secret:</strong>
  <%= @person.secret %>
</p>

<p>
  <strong>Country:</strong>
  <%= @person.country %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @person.description %>
</p>

<p>
  <strong>Can send email:</strong>
  <%= @person.can_send_email %>
</p>

<p>
  <strong>Graduation year:</strong>
  <%= @person.graduation_year %>
</p>

<p>
  <strong>Body temperature:</strong>
  <%= @person.body_temperature %>
</p>

<p>
  <strong>Price:</strong>
  <%= @person.price %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @person.birthday %>
</p>

<p>
  <strong>Favorite time:</strong>
  <%= @person.favorite_time %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
